@font-face {
    font-family: 'Telegraf-Regular';
    src: url('./fonts/telegraf-regular-webfont.woff2') format('woff2'),
         url('./fonts/telegraf-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf-Bold';
    src: url('./fonts/telegraf-bold-webfont.woff2') format('woff2'),
         url('./fonts/telegraf-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}

@font-face {
    font-family: 'Telegraf-Ultrabold';
    src: url('./fonts/telegraf-ultrabold-webfont.woff2') format('woff2'),
         url('./fonts/telegraf-ultrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}

@font-face {
    font-family: 'Telegraf-Ultralight';
    src: url('./fonts/telegraf-ultralight-webfont.woff2') format('woff2'),
         url('./fonts/telegraf-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
