@import "layout-blueprints/CollapsedSidebar/base";
// Bamburgh React Admin Dashboard with Material-UI PRO Layout Blueprints

@import "layout-blueprints/LeftSidebar/base";

.modal-size {
    width: 40%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }